.idea/*
!.idea/watcherTasks.xml
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/Resources/public/bower
/build/
/vendor/
/bin/
/composer.phar
/node_modules
